; for access to aws-resources
[default]
aws_access_key_id="xxx"
aws_secret_access_key= xxx

; for access to s3 storage tf states and dynamo-db locking
[tf-state-acc]
aws_access_key_id ="yyy"
aws_secret_access_key ="yyy"
